body{
    background-color: black;
    color: wheat;
}
nav ul{
    display:flex;
    list-style: none;
}
section{
    background-color: white;
    margin:5px;
    width: 300px;
}
section img{
    width: 100%;
}